Unit testing,

Vi hade som mål från början att det skulle finas tester till alla modulerna. Vi lyckades skriva tester till de flesta modulerna där
de viktigaste funktionerna testades. 









Issues: Vi har inte varit konsekventa med användingen av issues på github, men såklart hade vi buggar.
